html {
    font-family: -apple-system, BlinkMacSystemFont, "Red Hat Display"
}

body {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #1f1f1f;
    width: auto;
    padding: 25px 50px;
    align-content: center;
}

h1 {
    margin: 0;
    font-size: 35px;
    color: white;
    margin-right: auto;
}

header a {
    margin: 0 20px;
    padding: 5px 10px;
    background-color: #777777;
    height: auto;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: "Red Hat Display";
}