html {
    font-family: -apple-system, BlinkMacSystemFont, "Red Hat Display";
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-weight: 400;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(121,121,121,1) 0%,rgba(110,110,110,1) 50%, rgba(121,121,121,1) 100%);
}

.head {
    top: 0;
    width: 100%;
    position: fixed;
    height: 123.5px;
    z-index: 1;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #1f1f1f;
    width: auto;
    padding: 40px 50px;
    align-content: center;
}

header img {
    height: 40px;
    margin-right: auto;
}

#logo {
    margin-right: auto;
    background-color: transparent;
}

.nav {
    margin: 0 20px;
    padding: 5px 10px;
    background-color: #777777;
    height: auto;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: "Red Hat Display";
}

#intro h1 {
    color: #eeeeee;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
}

#intro p {
    text-align: center;
    font-size: 25px;
    padding: 0 25px;
}

.main {
    display: flex;
    width: auto;
    margin-top: 123px;
    position: relative;
    z-index: 0;
    flex-direction: column;
    background: transparent;
}

#intro {
    height: 375px;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    animation: float 1.5s ease;
}

.selections {
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 20px 75px;
    justify-content: center;
    animation: float 1.5s ease;
}

.selections a {
    padding: 50px;
    color: white;
    font-size: 20px;
    font-weight: 200;
    display: block;
    transition: transform 0.25s;
    margin: 0 30px;
}

.selections a:hover {
    transform: scale(1.05);
}

.selections a h1 {
    font-size: 75px;
    font-weight: 400;
}

#kb {
    background-image: linear-gradient(0deg, rgba(126,122,195,1) 0%, rgba(132,132,237,1) 10%, rgba(0,212,255,1) 100%);
}

#downloads {
    background: linear-gradient(0deg, rgba(255,47,47,1) 0%, rgba(247,87,87,1) 13%, rgba(255,166,166,1) 100%);
}

#communities {
    background: linear-gradient(0deg, rgba(197,28,255,1) 0%, rgba(209,87,247,1) 20%, rgba(208,139,255,1) 100%); 
}

a {
    text-decoration: none;
}

.title {
    font-weight: 400;
    font-size: 150px;
    color: white;
    margin: 0 75px;
    padding: 100px 0;
    animation: float 1.5s ease;
}

.selguide {
    height: auto;
    background-color: #1f1f1f;
    color: white;
    padding: 50px;
}

@keyframes float {
    from {
        margin-top: 50px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

.selections div {
    display: flex;
    flex-direction: row;
}

.guidelist {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.bar {
    color: #dddddd;
    margin: 25px 100px 50px 100px;
    font-size: 50px;
}

#dlandcommu {
    display: flex;
    flex-direction: row;
    justify-content: center
}

@media screen and (max-width: 1620px) {
    .selections {
        flex-direction: column;
    }

    .selections a {
        margin: 30px;
    }

    .selections {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 1420px) {
    header img {
        height: 30px;
    }
    
    header {
        padding: 30px 50px;
    }

    .nav {
        font-size: 20px;
    }
}

@media screen and (max-width: 1300px) {
    #dlandcommu {
        flex-direction: column;
    }
}

@media screen and (max-width: 1220px) {
    .nav {
        display: none;
    }

    .title {
        font-size: 100px;
    }

    .bar {
        font-size: 30px;
    }

    .selguide h2 {
        font-size: 25px;
    }

    .selections a {
        padding: 25px 50px;
    }

    .title {
        padding: 50px 0;
    }

    .bar {
        margin-bottom: 25px;
    }

    header img {
        height: 25px;
    }
}

@media screen and (max-width: 900px) {
    .title {
        font-size: 75px;
    }

    .bar {
        font-size: 25px;
    }
}

@media screen and (max-width: 700px) {
    header img {
        height: 25px;
    }

    .selections a h1 {
        font-size: 50px;
        font-weight: 400;
    }

    .selections {
        padding: 0 35px;
    }

    #intro h1 {
        font-size: 75px;
    }

    #intro p {
        font-size:20px;
    }

    #intro {
        height: auto;
    }

    .title {
        font-size: 45px;
        margin: 0 30px;
        text-align: center;
        padding: 20px 0;
        padding-top: 40px;
    }

    .bar {
        font-size: 20px;
        margin: 25px 50px;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .selguide h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 520px) {
    header img {
        height: 20px;
    }

    .head {
        height: auto;
    }

    .main {
        margin-top: 75px;
    }

    #intro h1 {
        font-size: 50px;
    }

    #intro p {
        font-size: 17.5px;
    }
}

@media screen and (max-width: 500px) {
    header img {
        height: 17.5px;
    }

    header {
        padding: 25px;
    }

    .selections a h1 {
        font-size: 35px;
        margin: 0;
    }

    .selections a p {
        font-size: 15px;
    }

    .selections a {
        padding: 25px;
    }
}