html {
    font-family: -apple-system, BlinkMacSystemFont, "Red Hat Display"
}

body {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.head {
    top: 0;
    width: 100%;
    position: fixed;
    height: 123.5px;
    z-index: 1;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #1f1f1f;
    width: auto;
    padding: 40px 50px;
    align-content: center;
}

header img {
    height: 40px;
    margin-right: auto;
}

header a {
    margin: 0 20px;
    padding: 5px 10px;
    background-color: #777777;
    height: auto;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: "Red Hat Display";
}

#intro h1 {
    color: #eeeeee;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
}

#intro p {
    text-align: center;
    font-size: 25px;
}

.main {
    display: flex;
    width: auto;
    margin-top: 123px;
    position: relative;
    z-index: 0;
    flex-direction: column;
}

#intro {
    height: 375px;
    background-color: #555555;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.selections {
    display: flex;
    flex-direction: row;
    height: 400px;
}

.selections div {
    padding: 50px;
    color: white;
    font-size: 20px;
    font-weight: 200;
    flex: 1;
}

.selections div h1 {
    font-size: 75px;
    font-weight: 400;
}

#guides {
    background: linear-gradient(0deg, rgba(126,122,195,1) 0%, rgba(132,132,237,1) 10%, rgba(0,212,255,1) 100%);
}